.index-background{
    /*background-image: url(../img/indexHeaderBackground.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
}

.index-header-inferior{
    width: 30rem;
    height: 90vh;
    margin-left: 2rem;
}

.index-header-btn{
    border-radius: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.body-background {
    background-color: beige;
}