@import "./utilities/extends";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

body {
    background-color: rgb(218, 218, 218);
}



.grid-contact {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 4rem 12rem 4rem ;
    gap: 3vh;
}

.grid-contact-item {
    align-items: center;
    justify-content: space-between;
}

.grid-contact .item1 {
    grid-column: 2 / 3;
}

.grid-contact .item2 {
    grid-column: 3 / 3;
}

.grid-contact .item3 {
     grid-column: 2 / 4;
     size: 100px;
}

.grid-contact .item4 {
     grid-column: 2 / 4;
     justify-content: center;
}



/*Fonts*/
.font-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 300;
  font-style: normal;
}

.font-bold {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 700;
  font-style: normal;
}

/*Media queries*/

@media only screen and (min-width:900px) {
    footer nav img {
        height: 35px;
        margin-right:10px;
        
    }
}