/************* header *************/
header {
    transition: background-color 175ms ease-in;
    background: rgb(34, 33, 33);
    color: rgb(196, 169, 133);
}

.header-left {
    height: 3rem;
    width: 12rem;
    @include marginTop(5px);
    vertical-align: middle;
}

.header-center {
    @extend .header-nav;
    list-style: none;
    align-items: center;
}

.header-center li {
    margin-left: 30px;
    padding-top: 20px;
}

.header-right {
    @include marginTop(12px);
    margin-bottom: 12px;
    margin-right: 30px;
    border: 2px;
    border-color: rgb(196, 169, 133);
    border-radius: 15px;
    background-color: rgb(196, 169, 133);
}