
/************* main *************/
main {
    flex: 1;
    padding-top: 10rem;
}

.main-h1{
    color:$beige;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.main-p{
    color:$beige;
    //margin-inline: 20rem;
    font-size: 1.25rem;
    //max-width: 600px;
    margin-bottom: 2rem;
    text-align: center;
}

.main-btn{
    color: #f5f5dc;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #f5f5dc;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.main-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-index {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.index-background {
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 93vh;
    position: relative;
    //display: block;
}

.centered {
    text-align: center;
    font-size: 2rem;
}

/* Sección de productos */
main .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.product-item:hover {
    transform: scale(1.03);
}

main .product-grid section {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main .product-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    padding-bottom: 1em;
}

/**** Preguntas frecuentes ****/

.faq-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

.faq-item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.faq-item h3 {
    font-size: 1.2rem;
    color: rgb(34, 33, 33);
    margin-bottom: 0.5rem;
}

.faq-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

/**** Contacto ****/

.btn-contact, .btn-product {
    background-color: rgb(196, 169, 133);
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1em;
}

.btn-contact:hover {
    background-color: rgb(170, 145, 110);
}

.contact-section{
    font-size: medium;
    font-weight: 100;
    padding: 3em;
    max-width: 900px;
    margin: 2.5rem auto;
    padding: 1rem;
}

.contact-info{
    margin-bottom: 3em;
}

.grid-contact-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.grid-contact .item1 {
    grid-column: 2 / 4;
}

.grid-contact .item2 {
    grid-column: 3 / 4;
}

.grid-contact .item3 {
    grid-column: 2 / 4;
    size: 100px;
}

.grid-contact .item4 {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
}

input[type="text"], textarea {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    font-family: inherit;
}
